# =========================
# General
# =========================
backend/node_modules/
frontend/node_modules/
frontend/.env
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Backend (Express/Node.js)
# =========================
/backend/node_modules
/backend/.env
/backend/dist
/backend/build
/backend/logs
/backend/*.log
/backend/tmp
/backend/uploads/
backend/package-lock.json

# =========================
# Frontend (React/Vite)
# =========================
/frontend/node_modules
/frontend/.env
/frontend/build
/frontend/dist
/frontend/.vite
/frontend/.cache
/frontend/.parcel-cache
client/package-lock.json

# React testing / coverage
/frontend/coverage

# =========================
# IDEs and Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Misc
# =========================
*.swp
*.swo
*.bak
*.tmp
